<!doctype html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andrii Sydor</title>
</head>
<body>
    <nav>
        <a href="{% url 'main_page' %}">Main</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'photos' %}">Photos</a>
        <a href="/admin">Admin</a>
    </nav>
    <h1>Andrii Sydor</h1>
    <nav>
        <a href="https://github.com/AndriySydor">GitHub</a>
        <a href="https://www.instagram.com/sydor_andriy/">Instagram</a>
    </nav>
    <p>----------Some text-----------<br>
        ----------Some text-----------<br>
        ----------Some text-----------<br>
    </p>

</body>
</html>