<!doctype html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andrii Sydor</title>
</head>
<body>
    <nav>
        <a href="{% url 'main_page' %}">Main</a>
        <a href="{% url 'about' %}">About</a>
        <a href="/admin">Admin</a>
    </nav>
    <h1>Main page</h1>
    {% for post in posts %}
    <h4>{{ '__________________' }}</h4>
    <h3>{{ post.title }}</h3>
    <p>{{ post.date }}</p>
    <p>{{ post.text }}</p>
    {% endfor %}
</body>
</html>